.header {
  display: flex;
  align-items: center;
  background-color: #11728B;
  color: #FFFFFF;
}

.header span {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12;
  padding-left: 25px;
}
